<script>
	window.fbAsyncInit = function() {
	  FB.init({
		appId      : '608464966533110',
		cookie     : true,
		xfbml      : true,
		version    : 'v9.0'
	  });
		
	  FB.AppEvents.logPageView();   
		
	};
  
	(function(d, s, id){
	   var js, fjs = d.getElementsByTagName(s)[0];
	   if (d.getElementById(id)) {return;}
	   js = d.createElement(s); js.id = id;
	   js.src = "https://connect.facebook.net/en_US/sdk.js";
	   fjs.parentNode.insertBefore(js, fjs);
	 }(document, 'script', 'facebook-jssdk'));

	 
FB.getLoginStatus(function(response) {
	console.log("getLoginStatus");
	console.log(response);
    statusChangeCallback(response);
});

function statusChangeCallback(response){
	console.log('response is');
	console.log(response);
	if(response.status == "connected"){
		console.log("user is logged in ");
	}
	else{
		console.log("user need to login");
		//FB.login();
	}
}
function checkLoginState() {
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
}

  </script>

  
<fb:login-button 
scope="public_profile,email"
onlogin="checkLoginState();">
</fb:login-button>